body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
  margin: 0;
}

.profile-pic {
  height: 30rem;
  position: relative;
  right: 1em;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.button-div {
  margin-top: 2em;
}

.welcome > h1 {
  font-size: 48px;
}

.welcome > p {
  font-size: 22px;
}

.title {
  color: #4100f2;
  font-weight: bold;
  font-size: 24px;
  height: 35px;
  overflow: hidden;
}

.title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  50% {
    transform: translateY(-35px);
  }
  100% {
    transform: translateY(-70px);
  }
}
.button {
  height: 50px;
  width: auto;
  cursor: pointer;
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}

.button:hover .rectangle {
  fill: #4100f2;
}

.rectangle,
.arrow {
  transition: 0.5s ease;
}

.button:hover .arrow {
  fill: white;
  transform: translateY(35%);
}

.second-part {
  background-image: url("./assets/bg.svg");
  background-position: top;
  background-repeat: no-repeat;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-title {
  color: white;
  font-size: 3rem;
  position: relative;
  text-align: center;
  padding-top: 1em;
  margin: 0;
}

.project {
  text-align: center;
  width: 20rem;
  min-height: 20rem;
  margin: 1em;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
}

.project:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.project-name {
  color: #4100f2;
  font-size: 24px;
}
.window {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 15rem;
  height: 20rem;
  background-color: white;
  border-radius: 30px;
  margin: 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 24px;
  transition: 0.3s ease;
}
.window > img {
  width: 15rem;
  object-fit: cover;
  border-radius: 30px;
}

.description {
  font-size: 16px;
  padding: 0em 3em;
  display: flex;
  justify-content: center;
}
.tools-used {
  text-align: center;
  font-size: 12px;
}

.tools-used > p > img {
  vertical-align: middle;
}

.third-part {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.about {
  width: 25rem;
  height: auto;
  margin: 2em;
  text-align: center;
}

.about > p {
  padding: 2em;
  font-weight: 600;
  line-height: 2rem;
  color: black;
}
.about-headline > h1 {
  color: #4100f2;
  font-size: 48px;
}
.about-headline {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  padding-left: 50px;
  padding-right: 20px;
}

.links > img {
  width: 40px;
  padding: 10px;
  cursor: pointer;
}

.right-part-right-side {
  text-align: center;
}
.photographer {
  width: 20rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

@media only screen and (min-width: 50em) {
  .hero {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .project-title {
    text-align: left;
    padding-left: 1em;
  }

  .profile-pic {
    height: 35rem;
  }

  .button-div {
    margin-top: 5em;
  }
}

@media only screen and (min-width: 75em) {
  .projects-container {
    flex-direction: row;
    justify-content: space-evenly;
    background-size: 100%;
    padding-bottom: 2rem;
  }

  .third-part {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .photographer {
    width: 30rem;
  }

  .about-headline {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .about {
    width: 50rem;
  }
}
@media only screen and (min-width: 100em) {
  .profile-pic {
    height: 50rem;
  }
  .welcome > p {
    font-size: 36px;
  }
  .title {
    color: #4100f2;
    font-weight: bold;
    font-size: 32px;
    height: 50px;
    overflow: hidden;
  }

  .title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
  }

  @keyframes move {
    50% {
      transform: translateY(-45px);
    }
    100% {
      transform: translateY(-95px);
    }
  }

  .button-div {
    font-size: 24px;
    margin-top: 160px;
    line-height: 20px;
  }

  .button {
    height: 78px;
    width: auto;
    cursor: pointer;
  }

  .projects-container {
    height: 70vh;
  }

  .project {
    width: 30rem;
    margin: 0;
  }
  .window {
    width: 20rem;
  }
  .window > img {
    width: 20rem;
  }
}
