body {
  background-color: #fafafa;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left-side {
  text-align: center;
  line-height: 50px;
  height: 65%;
  animation: 1s ease-out 0s 1 fade-in;
}

.welcome > p {
  font-size: 36px;
}

.title {
  color: #4100f2;
  font-weight: bold;
  font-size: 36px;
  height: 50px;
  overflow: hidden;
}

.title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(-100px);
  }
}

.button-div {
  font-size: 24px;
  margin-top: 160px;
  line-height: 20px;
}

.button {
  height: 78px;
  width: auto;
  cursor: pointer;
}

.button:hover .rectangle {
  fill: #4100f2;
}

.rectangle,
.arrow {
  transition: 0.5s ease;
}

.button:hover .arrow {
  fill: white;
  transform: translateY(35%);
}

.welcome > h1 {
  font-size: 72px;
}

.profile-pic {
  height: 700px;
}

.right-side {
  display: flex;
  background-image: url("profilkepbg.svg");
  background-size: 500px 700px;
  background-repeat: no-repeat;
  background-position: 50px 60px;
  margin-bottom: 150px;
}

@keyframes img-animation {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}

.second-part {
  height: 100vh;
  width: 1920px;
  background-image: url("bg.svg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project1 {
  width: 471px;
  height: 667px;
  border-radius: 45px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 1s ease;
}

.project1:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.project2 {
  width: 471px;
  height: 667px;
  border-radius: 45px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 1s ease;
}

.project2:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.project3 {
  width: 471px;
  height: 667px;
  border-radius: 45px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
}

.project3:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.window {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 372px;
  height: 429px;
  background-color: white;
  border-radius: 45px;
  margin: 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 24px;
  transition: 0.3s ease;
}

.window > img {
  max-width: 372px;
  object-fit: cover;
  border-radius: 45px;
}

.project-name {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0px;
  color: #4100f2;
}

.tools-used {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  color: #7d7d7d;
}

.description {
  font-size: 24px;
  text-align: center;
  margin: 6px 51px;
}

.third-part {
  display: flex;
  justify-content: center;
}

.about {
  width: 600px;
  height: 400px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 45px;
  margin-bottom: 120px;
  background-color: white;
}
.about-headline > h1 {
  color: white;
}
.about-headline {
  background-color: #4100f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  padding-left: 20px;
  padding-right: 20px;
}

.links > img {
  width: 40px;
  padding: 10px;
  cursor: pointer;
}
