body{

    background-color: #fafafa;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}

.hero{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.left-side{
     text-align: center ;
     line-height: 50px;
     height: 65%;
    animation: 1s ease-out 0s 1 fade-in;
}


.welcome > p{
    font-size:36px ;
}

.welcome > h3{
    color:#4100F2;
    font-weight: bold;
    font-size: 36px;
}


.button-div{
    font-size: 24px;
    margin-top: 300px;
    line-height: 20px;
}

.button{
    height: 78px;
    width: auto;
    cursor: pointer;
}

.button:hover .rectangle {
    fill: #4100F2;
}

.rectangle, .arrow{
    transition: 0.5s ease;
}

.button:hover .arrow{
    fill: white;
    transform: translateY(35%);
}

.welcome > h1{
    font-size: 72px;
}


.right-side > img {
    width:auto;
    height:885px ;
    display: flex;
    border-radius: 48px;
    align-items:center; 
    animation: 1s ease-out 0s 1 img-animation;
}


@keyframes img-animation{
    0%{
        opacity: 0%;
        transform: scale(0.8);
    }
    25%{
        opacity: 25%;
    } 
    50%{
        opacity: 50%;
    } 
    75%{
        opacity: 75%;
        transform: scale(1.05);
    }
    100%{
        opacity: 100%;
    }

}

@keyframes fade-in{
    0%{
        opacity: 0%;
    }
    25%{
        opacity: 25%;
    } 
    50%{
        opacity: 50%;
    } 
    75%{
        opacity: 75%;
    }
    100%{
        opacity: 100%;
    }


}
